* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  background: #232323;
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  margin: auto;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 10px rgb(255 255 255 / 5%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 30px; */
}

.container div {
  flex-basis: 50%;
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.container div h2 {
  border-bottom: 1px solid #1b5e20;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #1b5e20;
}
.container div p {
  color: #333;
  font-weight: bold;
}

.btn {
  position: absolute;
  bottom: 10%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #eee;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
